<div class="topbar">

    <div class="topbar-left">

        <h2>Dashboard</h2>
    </div>

    <div class="topbar-right">

        <div class="search-box">

            <i class="fa-solid fa-magnifying-glass"></i>

            <input
                type="text"
                placeholder="Search properties...">

        </div>

        <button class="icon-btn">

            <i class="fa-regular fa-bell"></i>

        </button>

        <div class="owner-profile">

            <img src="https://ui-avatars.com/api/?name={{ session['name']|replace(' ', '+') }}&background=16A34A&color=fff"
            alt="Owner">

        <div>
            <h6>{{ session["name"] }}</h6>
            <small>Property Owner</small>
        </div>

        </div>

    </div>

</div>