<footer class="footer">

    <div class="container">

        <div class="row gy-4">


            <!-- ABOUT -->
            <div class="col-lg-4">

                <h3 class="footer-logo">

                    <i class="bi bi-house-heart-fill"></i>

                    StayNear

                </h3>


                <p>

                    StayNear is your smart accommodation discovery
                    platform that helps students and working
                    professionals find verified places to stay
                    near their college or workplace.

                </p>


                <div class="social-icons">

                    <a href="#" aria-label="Facebook">
                        <i class="bi bi-facebook"></i>
                    </a>


                    <a href="#" aria-label="Instagram">
                        <i class="bi bi-instagram"></i>
                    </a>


                    <a href="#" aria-label="Twitter">
                        <i class="bi bi-twitter-x"></i>
                    </a>


                    <a href="#" aria-label="LinkedIn">
                        <i class="bi bi-linkedin"></i>
                    </a>

                </div>

            </div>



            <!-- QUICK LINKS -->
            <div class="col-lg-2">

                <h5>
                    Quick Links
                </h5>


                <ul class="footer-links">

                    <li>
                        <a href="/">
                            Home
                        </a>
                    </li>


                    <li>
                        <a href="#">
                            About Us
                        </a>
                    </li>


                    <li>
                        <a href="#">
                            Contact Us
                        </a>
                    </li>


                    <li>
                        <a href="#">
                            FAQs
                        </a>
                    </li>

                </ul>

            </div>



            <!-- USERS -->
            <div class="col-lg-2">

                <h5>
                    For Users
                </h5>


                <ul class="footer-links">

                    <li>
                        <a href="#">
                            Browse Stays
                        </a>
                    </li>


                    <li>
                        <a href="{{ url_for('auth.register') }}">
                            Create Account
                        </a>
                    </li>


                    <li>
                        <a href="{{ url_for('auth.login') }}">
                            Login
                        </a>
                    </li>

                </ul>

            </div>



            <!-- OWNERS -->
            <div class="col-lg-2">

                <h5>
                    For Owners
                </h5>


                <ul class="footer-links">

                    <li>
                        <a href="#">
                            List Your Property
                        </a>
                    </li>


                    <li>
                        <a href="#">
                            Owner Dashboard
                        </a>
                    </li>


                    <li>
                        <a href="#">
                            Help & Support
                        </a>
                    </li>

                </ul>

            </div>



            <!-- CONTACT -->
            <div class="col-lg-2">

                <h5>
                    Contact Us
                </h5>


                <p class="footer-contact">

                    <i class="bi bi-telephone"></i>

                    <span>
                        +91 98765 43210
                    </span>

                </p>


                <p class="footer-contact">

                    <i class="bi bi-envelope"></i>

                    <span>
                        support@staynear.com
                    </span>

                </p>


                <p class="footer-contact">

                    <i class="bi bi-geo-alt"></i>

                    <span>
                        Nashik, Maharashtra
                    </span>

                </p>

            </div>

        </div>


        <hr>


        <div class="footer-bottom">

            <span>
                © 2026 StayNear. All Rights Reserved.
            </span>


            <span>
                Privacy Policy &nbsp; | &nbsp; Terms & Conditions
            </span>

        </div>

    </div>

</footer>